<a name="clients"></a>
<section class="clients">
  <div class="container">
    <h1>Clients include</h1>
    <div class="clients__logo-wrapper">
      <img class="clients__logo-wrapper__logo" src="images/smiths-gore-logo.png" alt="Smith's Gore logo">
      <img class="clients__logo-wrapper__logo" src="images/smiths-gore-logo.png" alt="Smith's Gore logo">
      <img class="clients__logo-wrapper__logo" src="images/smiths-gore-logo.png" alt="Smith's Gore logo">
      <img class="clients__logo-wrapper__logo" src="images/smiths-gore-logo.png" alt="Smith's Gore logo">
    </div>
  </div>
</section>
