<header class="header">

  <div class="container">

    <a class="header__home-link" href="{{ site.url }}">
      <div class="header__logo">
        <h1 class="header__logo__site-name">Danielle Lamb</h1>
        <h2 class="header__logo__job-title">Graphic Designer</h2>
      </div>
    </a>

    <nav class="header__navigation">
      <ul class="header__navigation__list">
        <li class="header__navigation__list__link"><a href="{{ site.baseurl }}#about">About</a></li>
        <li class="header__navigation__list__link"><a href="{{ site.baseurl }}#portfolio">Portfolio</a></li>
        <li class="header__navigation__list__link"><a href="#contact">Contact</a></li>
      </ul>
    </nav>


  </div>

</header>
