<section class="portfolio">
  <div class="container">
    <h2 class="portfolio__title">Portfolio</h2>

    <div class="portfolio__wrapper">

      <a class="portfolio__wrapper__card" href="#0">
        <img src="images/portfolio-newscast.png" alt="Smiths Gore newscast">
        <h1 class="portfolio__wrapper__card__title">Smiths Gore newscast</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat, enim a maximus ornare, dui orci tempus lectus, vitae commodo dolor ante nec risus. Donec commodo ultrices elementum.</p>
        <p class="portfolio__wrapper__card__link">View project</p>
      </a>

      <a class="portfolio__wrapper__card" href="#0">
        <img src="images/portfolio-newscast.png" alt="Smiths Gore newscast">
        <h1 class="portfolio__wrapper__card__title">Smiths Gore newscast</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat, enim a maximus ornare, dui orci tempus lectus, vitae commodo dolor ante nec risus. Donec commodo ultrices elementum.</p>
        <p class="portfolio__wrapper__card__link">View project</p>
      </a>

      <a class="portfolio__wrapper__card" href="#0">
        <img src="images/portfolio-newscast.png" alt="Smiths Gore newscast">
        <h1 class="portfolio__wrapper__card__title">Smiths Gore newscast</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat, enim a maximus ornare, dui orci tempus lectus, vitae commodo dolor ante nec risus. Donec commodo ultrices elementum.</p>
        <p class="portfolio__wrapper__card__link">View project</p>
      </a>

      <a class="portfolio__wrapper__card" href="#0">
        <img src="images/portfolio-newscast.png" alt="Smiths Gore newscast">
        <h1 class="portfolio__wrapper__card__title">Smiths Gore newscast</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat, enim a maximus ornare, dui orci tempus lectus, vitae commodo dolor ante nec risus. Donec commodo ultrices elementum.</p>
        <p class="portfolio__wrapper__card__link">View project</p>
      </a>

      <a class="portfolio__wrapper__card" href="#0">
        <img src="images/portfolio-newscast.png" alt="Smiths Gore newscast">
        <h1 class="portfolio__wrapper__card__title">Smiths Gore newscast</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat, enim a maximus ornare, dui orci tempus lectus, vitae commodo dolor ante nec risus. Donec commodo ultrices elementum.</p>
        <p class="portfolio__wrapper__card__link">View project</p>
      </a>

      <a class="portfolio__wrapper__card" href="#0">
        <img src="images/portfolio-newscast.png" alt="Smiths Gore newscast">
        <h1 class="portfolio__wrapper__card__title">Smiths Gore newscast</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat, enim a maximus ornare, dui orci tempus lectus, vitae commodo dolor ante nec risus. Donec commodo ultrices elementum.</p>
        <p class="portfolio__wrapper__card__link">View project</p>
      </a>

    </div>

  </div>
</section>
