@mixin bp($point) {
	 @if $point == xlg {
		 @media screen and (min-width: 113em) { @content ; }
	}
	 @else if $point == lg {
		 @media screen and (min-width: 85em) { @content ; }
	}
		@else if $point == md {
		 @media screen and (min-width: 64em) { @content ; }
	}
	 @else if $point == sm {
		 @media screen and (min-width: 48em)  { @content ; }
	}
}


/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
	line-height: $base-heading-line-height;
}

h1, h2 {
    font-weight: $base-font-heading-weight;
}

h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}

h1 {
	font-size: $base-font-h1-size*0.65;

	@include bp(sm) {
		font-size: $base-font-h1-size*0.85;
	};

	@include bp(md) {
		font-size: $base-font-h1-size;
	};
}

h2 {
	font-size: $base-font-h2-size*0.65;

	@include bp(sm) {
		font-size: $base-font-h2-size*0.85;
	};

	@include bp(md) {
		font-size: $base-font-h2-size;
	};
}

h3 {
	font-size: $base-font-h3-size;
}

h4 {
	font-size: $base-font-h4-size;
}

h5 {
	font-size: $base-font-h5-size;
}

h6 {
	font-size: $base-font-h6-size;
}


/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: darken($brand-color, 15%);
        text-decoration: underline;
    }
}

.button {
	display: inline-block;
	border-radius: 5px;
	background-color: $brand-color;
	color: $white;
	text-decoration: none;
	padding: 0.625em 0.9375em;
	-webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.25);
	position: relative;

	&:hover {
		text-decoration: none;
	}

	@include bp(sm) {
		transition: top 300ms ease;
		transition: box-shadow 50ms linear;

		&:hover {
			top: 2px;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}
	}
}

.button-white {
	background-color: $white !important;
	color: $text-color !important;
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #fff;
    text-shadow: none;
}

::selection {
    background: #cde9e3;
    text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
