.container {
  margin: 0 15px;
  @extend %clearfix;

  @include bp(sm) {
    margin: 0 4%;
  }

  @include bp(md) {
    margin: 0 8%;
  }

  @include bp(lg) {
    margin: 0 12%;
  }
}

// Header
.header {
  font-size: 1rem;
  padding: 0.625em 0;
  @extend %clearfix;

  @include bp(sm) {
    font-size: 1.125rem;
    padding: 0.625em*2 0;
  }

  @include bp(lg) {
    font-size: 1.5rem;
  }

  &__logo {
    margin-bottom: 0.625em*1.5;

    @include bp(sm) {
      float: left;
      width: 50%;
      margin-bottom: 0;
    }

    &__site-name {
      font-size: 1.125em;
      color: $brand-color;
      margin-bottom: 0;
      display: inline-block;
      margin-right: 0.3125em;
      font-weight: $base-font-weight;
    }

    &__job-title {
      font-size: 1em;
      font-style: italic;
      color: $text-color-light;
      margin-bottom: 0;
      display: inline-block;
      font-weight: $base-font-weight;
    }
  }

  &__navigation {
    @extend %clearfix;

    @include bp(sm) {
      float: left;
      width: 50%;
      padding-top: 0.10em;
    }

    &__list {
      float: left;
      margin: 0;
      font-weight: $base-font-weight;

      @include bp(sm) {
        float: right;
      }

        &__link {
        list-style: none;
        font-size: 1em;
        float: left;
        margin-right: 2em;

        @include bp(md) {
          margin-right: 0;
          margin-left: 3em;
        }

        &:last-of-type {
          margin-right: 0;
        }

        &:visited {
          color: $brand-color;
        }
      }
    }
  }
}
// Header end

// Introduction
.introduction {
  font-size: 1rem;
  margin-top: 0.9375em;
  margin-bottom: 2.9375em;

  @include bp(sm) {
    font-size: 1.125rem;
    max-width: 90%;
  }

  @include bp(md) {
    font-size: 1.15rem;
    max-width: 100%;
  }

  @include bp(lg) {
    font-size: 1.25rem;
  }

  &__text--large {
    margin-bottom: 0.625em;
  }

  &__text--italic {
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
    line-height: 1.5;
  }
}
// Introduction end

// Portfolio
.portfolio {
  font-size: 1rem;
  background-color: $grey-color;
  padding-top: 3em;
  padding-bottom: 3em;

  @include bp(sm) {
    font-size: 1.125rem;
  }

  &__title {
    margin-bottom: 0.9375em;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include bp(sm) {
      flex-direction: row;
      justify-content: space-between;
    }

    &__card {
      background-color: $white;
      color: $text-color;
      display: block;
      padding: 0 0.9375em 2.5em 0.9375em;
      border-radius: 5px;
      overflow: hidden;
      -moz-transition: box-shadow 300ms;
      -webkit-transition: box-shadow 300ms;
      transition: box-shadow 300ms;
      margin-bottom: 10px;
      max-width: 100%;

      &:hover {
        color: $text-color;
        text-decoration: none;
      }

      &:visited {
        color: inherit;
      }

      @include bp(sm) {
        width: 49%;
        margin-bottom: 15px;
        float: left;

        &:hover {
          -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.25);
          -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.25);
          box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.25);
        }
      }

      @include bp(md) {
        width: 32.5%;
      }

      img {
        display: inline-block;
        margin-bottom: 1.25em;
      }

      &__title {
        font-size: 1.5em;
        line-height: 1.3;
      }

      p {
        font-size: 1em;
      }

      &__link {
        font-size: 1.125em;
        font-weight: 700;
        color: $brand-color;

        &:hover {
          color: $brand-color;
          text-decoration: underline;
        }
      }
    }
  }
}
// End of portfolio

// Clients
.clients {
  padding-top: 3.125em;
  padding-bottom: 3.125em;

  h1 {
    text-align: center;
    font-size: 1.125em;
    font-weight: $base-font-weight;
  }

  &__logo-wrapper {
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__logo {
      @include bp(sm) {
        margin-right: 0.9375em;
        margin-bottom: 1.25em;
      }
    }
  }
}
// End of clients

// Testimonials
.testimonials {
  background-color: $grey-color;
  padding-top: 3.75em;
  padding-bottom: 3.75em;

  &__wrapper {
    max-width: 34.375em;
    margin: 0 auto;
    text-align: center;

    &__quote {
      font-size: 1.125em;
    }

    &__author {
      font-style: italic;
    }
  }
}
// End of testimonials

// Contact
.contact {
  background-color: $brand-color;
  padding-top: 3.75em;
  padding-bottom: 3.75em;
  text-align: center;

  &__title {
    font-weight: 300;
  }

  &__text {
    font-style: italic;
  }
}
// End of contact

// Copyright
.copyright {
  color: $text-color-light;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;

  &__text {
    margin-bottom: 0;
  }
}
// End of copyright
